!!!
%html{lang: "fi"}
  %head
    %script{:src => "http://s.debet.fi/js/jquery-1.8.3.min.js"}
    %script{:src => "/js/koe.js", :type => "text/javascript"}
  %body
    %h1
      Greetings from R&pi;
    %hr
    %p
      Tick value at start: #{$tick} and stamp: #{Time.now.to_i}
    %p 
      and current value via Ajax::
      %span#tick
        ?
      and timestamp:
      %span#stamp
        ?
    %hr
    %p{style: "font-size: 12px;"} That's all folks!